.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px)); /* Fixed column width */
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center; /* Center the grid items horizontally */
}

.recipe-grid li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.recipe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-item img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Limit the maximum height */
    border-radius: 8px;
    margin-bottom: 12px;
    object-fit: cover; /* Ensure the image maintains its aspect ratio */
}

.recipe-item h2 {
    font-size: 1.2rem;
    margin: 8px 0;
    color: #333;
}

.recipe-item p {
    font-size: 0.9rem;
    color: #666;
    margin: 8px 0;
}

.recipe-item .image-license {
    font-size: 0.8rem; /* Reduce the font size */
    color: #666; /* Use a lighter color for less emphasis */
    margin-top: 8px; /* Add spacing above the text */
    line-height: 1.4; /* Improve readability */
}